.person-label{
    display: inline-block;
    width: auto;
    max-width: 290px;
    height: 24px;
    margin: 0 5px 0 0;
    padding-right: 10px;
    line-height: 24px;
    list-style: none;
    background-color: #eee;
    border: 1px solid #ddd;            
    border-radius: 3px;
    vertical-align: top;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    img,.default-head-pic{
        display: inline-block;
        width: 26px;
        height: 24px;
        margin-right: 5px;
        list-style: none;
        vertical-align: top;
    }
    .default-head-pic{
        background: url('~assets/images/touxiang02.png') no-repeat;
        background-size: 100%;
    }
    .delete-btn{
        display: inline-block;
        width: 12px;
        height: 12px;
        margin-left: 4px;
        background-image: url('~assets/images/btn_close.png');
        background-size: 100%;
        cursor: pointer;
        vertical-align: middle;
        transition-duration: .35s;
        &:hover{
            // hover交互待定
        }
    }
}