@import '../../crmBase.scss';

.data_team_select{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    .team_list_wrap{
        flex: 1;
        background: #fff;
        padding-left: rem(15);
        box-sizing: border-box;
        position: absolute;
        width: 100%;
        top: 0;
        bottom: 50px;
        .team_item{
            position: relative;
            display: flex;
            padding: rem(13) 0;
            font-size: rem(16);
            &:after{
                @include underLine;
            }
            &:last-child:after{
                content: normal;
            }
            .team_head{
                margin-right: rem(10);
                width: rem(40);
                height: rem(40);
                background: url('~assets/images/dept_ico.jpg') no-repeat;
                background-size: 100%;
            }
            .check_radio_wrap{
                display: flex;
                align-items: center;
            }
        }
        .label_wrap{
            width: 100%;
        }
        .team_item_wrap{
            display: flex;
            width: 100%;
            .team_msg{
                flex: 1;
                width: 1px;
                .firse_coloum{
                    @include ellipsis;
                }
                .second_coloum{
                    font-size: rem(13);
                    color: #999;
                }
            }
        }
    }
    .team_select_footer{
        position: absolute;
        bottom: 0;
        display: flex;
        padding: rem(10);
        width: 100%;
        height: rem(50);
        box-sizing: border-box;
        background: #fff;
        &:after{
            @include topLine;
        }
        .footer_btn{
            position: relative;
            display: inline-block;
            width: rem(60);
            height: rem(30);
            line-height: rem(30);
            font-size: rem(14);
            text-align: center;
            border-radius: 2px;
            cursor: pointer;
            &:after{
                content: '';
                width: 200%;
                height: 200%;
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 2px;
                transform: scale(0.5);
                transform-origin: top left;
            }
        }
        .white_btn:after{
            border: 1px solid #D6D5D6;
        }
        .blue_btn{
            color: #fff;
            background-color: #2F7DCD;
        }
        .select_num{
            flex: 1;
            text-align: center;
            .title{
                line-height: 1;
                color: #999;
                font-size: rem(12);
            }
            .num{
                font-size: rem(14);
                color: #586c94;
            }
        }
    }
}
