@import '../../crmBase.scss';

.crm_bar_wrap{
    position: relative;
    z-index: 2;
    display: flex;
    width: 100%;
    .crm_filter_bar{
        display: flex;
        flex: 1;
        height: rem(45);
        background: #fff;
        &:after{
            @include underLine;
        }
    }
    .filter_bar_wrap{
        width: 100%;
    }
    .crm_filter_item{
        flex: 1;
        width: 1px;
    }
}
