@import '../crmBase.scss';

// 列表样式
.crm_list_wrap{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    .flex_box{
        display: flex;
    }
    .crm_list_header{
        position: relative;
        z-index: 3;
    }
    .crm_label_box{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
    .crm_search_wrap,
    .crm_icon_wrap{
        display: inline-block;
    }
    .crm_list_main{
        flex: 1;
        width: 100%;
        background: #fff;
        overflow-y: auto;
    }
    .crm_list_footer{
        width: 100%;
        height: rem(50);
        background: #fff;
    }
    .no_data_tip{
        font-size: rem(16);
        color: #bbb;
    }
    .search_bar_wrap{
        display:inline-block;
        flex: 9;
        vertical-align: middle;
    }
    .operate_btn{
        position: relative;
        flex: 1;
        height: rem(43);
        line-height: rem(43);
        text-align: center;
        background: #ffffff;
        vertical-align: middle;
        .hanber_icon{
            display: inline-block;
            width: rem(18);
            height: rem(13);
            background: url('~assets/images/qwui-content.png') no-repeat;
            background-position: 0px -20px;
            background-size: 100%;
        }
        .letter_icon{
            display: inline-block;
            width: rem(18);
            height: rem(13);
            background: url('~assets/images/icon_letterList.png') no-repeat;
            background-size: 88%;
        }
        .dot_icon{
            display: inline-block;
            width: rem(18);
            height: rem(8);
            background: url('~assets/images/ic_diandd.png') no-repeat;
            background-size: 100%;
        }
        &:after{
            content: " ";
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            border-bottom: 1px solid #e5e5e5;
            -webkit-transform: scaleY(0.5);
            transform: scaleY(0.5);
        }
    }
    /deep/ .weui-cell{
        padding: 0;
        display: block;
        .weui-cell__ft{
            &:after{
                content: normal;
            }
        }
        &:before{
            content: normal;
        }
    }
}
//高级搜素列表自定义样式
.customer{
    .customer-link{
      @include content-item(20,20,#2F7DCD,14);
      margin: 10px 0;
    }
}
// 底部tab
.crm_footer_tab{
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    width: 100%;
    background: #fff;
    &:after{
        @include topLine;
    }
    .footer_item{
        position: relative;
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        height: rem(50);
        font-size: rem(10);
        color: #B3BAC9;
        &.active{
            color: #779AF8;
        }
        .tab_wrap{
            position: relative;
            z-index: 1;
            text-align: center;
            .iconfont{
                margin-right: 0;
                line-height: normal;
                font-size: 22px;
            }
        }
    }
}

//适配iphone x 底部
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3){
    .qwui-bottomOperateBtn,
    .qwui-footbtn,
    .qwui-bottomButton{
      border-bottom: 34px solid #fff !important;
    }
    .qwui-poolList{
      padding-bottom: 34px;
    }
    .qwui-details_content,
    .qwui-details_poolContent{
      margin-bottom: 82px !important;
      background: #F7F7F7;
    }
    .contractBox{
      margin-bottom: 50px;
      padding-bottom: 84px;
      background: #F7F7F7;
    }
    .qwui-chat_comment_box{
      border-bottom: 34px solid #fff !important;
    }
  }
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3){
  .qwui-bottomOperateBtn,
  .qwui-footbtn,
  .qwui-bottomButton{
    border-bottom: 34px solid #fff !important;
  }
  .qwui-poolList{
    padding-bottom: 34px;
  }
  .qwui-details_content,
  .qwui-details_poolContent{
    margin-bottom: 82px !important;
    background: #F7F7F7;
  }
  .contractBox{
    margin-bottom: 50px;
    padding-bottom: 84px;
    background: #F7F7F7;
  }
  .qwui-chat_comment_box{
    border-bottom: 34px solid #fff !important;
  }
}

