@charset "UTF-8";

.qwui-returnMoney{
  position: relative;
  padding-top: 18px;
}
.qwui-returnMoney_period{
  padding-left: 18px;
  color: #333;
  font-size: 18px;
}
.qwui-returnMoney_num{
  position: relative;
  padding-left: 18px;
}
.qwui-returnMoney_num p{
  display: inline-block;
  margin: 13px 5px 15px 0;
  color: #666;
  font-size: 13px;
}
.qwui-returnMoney_num span{
  margin-left: 5px;
}
 .qwui-returnMoney_delBtn{
  position: absolute;
  right: 15px;
  top: 57px;
  font-size: 14px;
  color: #576B95;
}
.qwui-returnMoney_content{
  background: #fff;
}
.qwui-returnMoney_content div{
  margin-left: 15px;
  border-bottom: 1px solid #f5f5f5;
}
.qwui-returnMoney_content .qwui-returnMoney_invoiceMoney{
  border: none;
}
.qwui-returnMoney_type{
  position: relative;
  padding: 15px 0 15px;
}
.qwui-returnMoney_typeLabel{
  padding: 4px 6px;
  color: #fff;
  background: #999;
  border-radius:2px;
}
.qwui-returnMoney_add{
  position: absolute;
  right: 15px;
  top: 0px;
  color: #c7c7c7;
  font-size: 28px;
}
.qwui-returnMoney_list{
  padding: 15px 0 15px;
  color: #333;
  font-size: 16px;
  border-bottom: 1px solid #e6e6e6;
}
.qwui-returnMoney_list:last-child{
  border: none;
}
.qwui-returnMoney_money{
  margin-right: 5px;
}
.qwui-returnMoney_date{
  float: right;
  margin-right: 35px;
  color: #999;
}
.qwui-returnMoney_list:after{
  display: inline-block;
  content: '';
  position: absolute;
  right: 15px;
  margin-top: 4px;
  width: 8px;
  height: 14px;
  background: url(../../../../assets/images/ic_arrow.png) 0px 0px;
  background-size: cover;
}
