.card{
    border: 1px solid #E6E6E6;
    flex: 1;
    border-radius: 4px;
    min-height: 200px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    cursor: pointer;
    &:hover{
        box-shadow: 2px 0px 10px rgba(0,0,0,0.15);
        z-index: 1;
        transform: translateY(-3px);
        box-shadow: 0px 5px 20px 0px rgba(153,153,153,0.2);
        transition: all .2s linear;
        .icon_edit{
            color: #a6a6a6;
            font-size: 18px;
        }
    }
    .icon_edit{
        font-size: 0;
        position: absolute;
        top: 18px;
        right: 18px;
        &:hover{
            color: #777;
        }
        &.isShow{
            font-size: 18px;
            color: #a6a6a6;
        }
    }

    .card_container{
        text-align: center;
        transform: translateY(0px);
        img{
            margin-bottom: 20px;
        }
        h2{
            margin-bottom: 15px;
            line-height: 16px;
            font-size: 16px;
            color: #333;
        }
        p{
            color: #999;
            font-size: 14px;
        }

    }
    .formDialog{
        position: absolute;
        top: 45px;
        left: 225px;
        z-index: 10;
        width: 280px;
        border: 1px solid #E6E6E6;
        background-color: #fff;
        box-shadow:2px 0px 10px rgba(0,0,0,0.15);
        border-radius: 4px;
        box-sizing: border-box;
    }
}
