@charset "UTF-8";

.poolWrap{
  position: relative;
  .operate_top{
    margin: 24px 0 32px;
    .qwui-operate_back{
      display: inline-block;
      margin-top: -5px;
      margin-right: 10px;
      width: 24px;
      height: 24px;
      vertical-align: middle;
      background: url("~assets/images/ic_back.png") 0px 0px;
      background-size:cover;
    }
    .qwui-operate_back:hover{
      cursor: pointer;
    }
    .operate_title{
      display: inline-block;
      font-size: 14px;
      color: #A6A6A6;
      span{
        color: #808080;
        &:before{
          display: inline-block;
          content: '/';
          color: #808080;
          margin-right: 4px;
        }
      }
    }
  }

  .operate_form{
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 1px dashed #E5E5E5;
    &:nth-last-of-type(1){
      margin-bottom: 20px;
      padding-bottom: 60px;
      border-bottom: 1px solid #E5E5E5;
    }
    .moreTip{
      margin: -10px 0 0 139px;
      color: #A6A6A6;
      font-size: 14px;
    }
    .upload{
      margin-bottom: 20px;
      .itemName{
        display: inline-block;
        margin-right: 20px;
        width: 115px;
        line-height: 32px;
        h1{
          text-align: right;
          color: #383838;
          font-size:14px;
        }
      }
      .uploadBtn{
        display: inline-block;
        margin: 2px 12px 0 0;
        width: 60px;
        /deep/ .qwui-upload_item{
          margin-top: -3px;
        }
      }
      /deep/ .uploadBtn{
        vertical-align: top !important;
      }
      .fileTip{
        display: inline-block;
        color: #A6A6A6;
        font-size: 14px;
      }
    }
    .person{
      display: inline-block;
      margin-right: 20px;
      width: 115px;
      line-height: 32px;
      h1{
        text-align: right;
        color: #383838;
        font-size:14px;
      }
    }
    .ccPerson {
      display: inline-block;
      vertical-align: top;
      /deep/ .qwui-click_choose{
        width: 340px;
        height: 48px;
        .qwui-click_choose_word{
          line-height: 48px;
        }
      }
    }
    .numTip{
      margin:8px 0 0 139px;
      color: #A6A6A6;
      font-size: 12px;
      .num{
        margin: 0 3px;
      }
      .resetBtn{
        margin-left: 10px;
        color: #409EFF;
        &:hover{
          cursor: pointer;
        }
      }
    }

  }

  //保存按钮
  /deep/ .qwui-button.qwui-button-primary{
    display: block;
    margin:0 auto 28px;
    border-radius: 2px;
  }

  //行业
  .industry{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -193px;
    margin-left: -152px;
  }
}

