@import '@/assets/scss/base.scss';
// 定义按钮类型样式
@mixin button-variant($border-color,$color,$background-color,$hover-border-color,$hover-background){
    border-color: $border-color;
    color: $color;
    background: $background-color;
    &:hover{
        border-color: $hover-border-color;
        background: $hover-background;
    }
}
// 定义按钮大小样式
@mixin button-size($padding-tb,$padding-lr:15px){
    padding: $padding-tb $padding-lr;
}
.qwui-button{
    display: inline-block;
    line-height: 1;
    padding: 8px 15px;
    font-size: $font-size-base;
    border: 1px solid $border-color-base;
    border-radius: 4px;
    background: $color-white;
    color: $color-text-base;
    &:hover{
        background: $color-hover;
    }
    &.is-disabled{
        color: $color-text-disabled;
        background: $color-hover;
        cursor: not-allowed;
    }
    &.is-plain{
        border-color:$color-primary;
        color:$color-primary;
        &:hover{
            color: $color-white;
            background: $color-primary;
        }
    }
    &.qwui-button-primary{//引用混合样式
        @include button-variant($border-color-primary,$color-white,$color-primary,#EC6519,#F77C00);
    }
    &.qwui-button-danger{
        @include button-variant($border-color-primary,$color-white,$color-error,#D94A4A,#D94A4A);
    }
    &.qwui-button-text,&.qwui-button-text-primary{
        padding: 8px 0;
        border-color: transparent;
        &:hover{
            color: $color-primary;
            background: transparent;
        }
    }
    &.qwui-button-large-solid-round{
        padding:12px 49px;
        border-color: $border-color-primary;
        border-radius:23px;
        font-size: $font-size-large;
        color: $color-white;
        background: $border-color-primary;
    }
    &.qwui-button-large-plain-round{
        padding:14px 20px;
        border-radius:23px;
        font-size: $font-size-medium;
    }
    &.qwui-button-medium-plain-round{
        padding:8px 27px;
        border-radius:17px;
        font-size: $font-size-medium;
    }
    &.qwui-button-text-primary{
        color: #F77C00;
    }
    &.qwui-button-large{
        @include button-size(11px,29px);
    }
    &.qwui-button-small{
        @include button-size(6px);
    }
}