.exclusive-content{
    padding: 0px 90px;
    .exclusive-content-item{
        display: flex;
        align-items: center;
        padding-bottom: 40px;
        .title{
            width: 110px;
            min-width: 110px;
            margin-right: 25px;
            font-size: 16px;
            color: #333;
            text-align: right;
            line-height: 40px;
            user-select: none;
        }
        i.red{
            color: #FF3333;
        }
        .text-item{
          display: flex;
          align-items: center;
          font-size: 16px;
            input{
                display: inline-block;
                width: 258px;
                padding: 0 10px;
                border: 1px solid #e4e4e4;
                border-radius: 4px;
                color: #666;
                line-height: 36px;
              &:focus{
                outline: none;
                border-color: #f7c97a;
              }
            }
          .empty{
            padding-left: 8px;
            font-size: 14px;
            color:#808080;
          }
        }
        .question-mark{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 16px;
        height: 16px;
        margin-left: 12px;
        border-radius: 50%;
        font-size: 0;
        text-align: center;
        background: #ccc;
        cursor: pointer;
        i{
          font-size: 12px;
          color: #fff;
        }
        .question-mark-text{
          padding-bottom: 10px;
          text-align: left;
        }
        .question-mark-way{
          color: #F87B00;
          text-decoration: underline;
          text-align: left;
        }
        &:hover{
          .tip-info-box{
            display: inline-block
          }
        }
      }
        .orgName-tip{
          font-size: 16px;
          color:#7A7C80;
        }
        .server-merber{
            display: flex;
            align-items: center;
            .item{
                margin: 0 20px 0 6px;
                color: #383838;
                font-size: 16px;

            }
        }
        .bug-person{
          display: inline-block;
          padding: 0 10px 0 0;
          font-size: 16px;
          color: #333;
        }
    }
    .height-price-box{
      padding-bottom: 80px;
    }
}
.button-input{
  display: flex;
  padding-right: 12px;
  height: 40px;
  font-size: 0;
  line-height: 26px;
  .button-minus,.button-add{
    width: 40px;
    height: 100%;
    border: 1px solid #e4e4e4;
    font-size: 24px;
    text-align: center;
    color: #D8D8D8;
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
    vertical-align: middle;
    background: #fff;
    line-height: 26px;
    padding: 0;
  }
  .button-value{
    font-size: 14px;
    color: #333;
    padding: 0 5px;
    vertical-align: middle;
    border: none;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    width: 68px;
    height: 100%;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    line-height: 38px;
  }
}

.tips{
  font-size: 14px;
  color: #999;
  .span{
    color: rgb(245, 166, 35);
  }
}

.align-items-center{
  display: flex;
  align-items: center;
}

.service-explain{
  padding: 30px 105px;
  .title{
    font-size: 14px;
    color: #808080;
  }
  .text-item{
    padding-top: 5px;
    font-size: 12px;
    color: #A6A6A6;
    .tip{
      color: #3692E3;
      cursor: pointer;
    }
  }
}
/deep/  .tip-info-box{
  display: none;
  position: absolute;
  z-index: 1;
  left: 0;
  width: 228px;
  background: #fff;
  box-shadow: 1px 1.732px 10px 0px rgba(4, 0, 0, 0.1);
  border: 1px solid rgb(221, 221, 221);
  padding: 10px;
  border-radius: 4px;
  top: 48px;
  text-align: left;
  &.left{
    &:before{
      left: -6px;
      top: 10px;
    }
    &:after{
      left: 0;
      top: 5px;
      width: 10px;
      height: 20px;
    }
  }
  &.active{
    display: inline-block;
  }
  &.width{
    width: 238px;
  }
  &:before{
    background: white;
    border: 1px solid #ccc;
    content: "";
    height: 10px;
    left: 15px;
    position: absolute;
    top: -6px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 10px;
  }
  &:after{
    background: white;
    content: "";
    height: 10px;
    left: 10px;
    position: absolute;
    top: 0;
    width: 20px;
  }
  .tip-info-content{
    font-size: 14px;
    color: #666;
    white-space: normal;
    .tip-text-box{
      padding-bottom: 8px;
      &_scroll{
        max-height: 210px;
        overflow-x: hidden;
        overflow-y: scroll;
      }
    }
    .tip-text{
      line-height: 24px;
    }
  }
}
