@import '@/assets/scss/baseUI.scss';

.qwui-dropdown{
    position: relative;
    display: inline-flex;
    color: #fff;
    border: 1px solid $border-color-primary;
    border-radius: 3px;
    background: $color-primary;
    cursor: pointer;
    .qwui-dropdown_left,
    .qwui-dropdown_right{
        padding: 0 15px;
        height: 32px;
        font-size: 14px;
        line-height: 32px;
    }
    .qwui-dropdown_right{
        position: relative;
        border-left: 1px solid $border-color-primary;
        &:after{
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -6px;
            margin-top: -3px;
            border-color: transparent transparent #fff;
            border-style: solid;
            border-width: 6px;
            transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
        }
    }
    .qwui-dropdown_select_list{
        position: absolute;
        left: 0;
        top: 35px;
        min-width: 100%;
        max-width: 142px;
        font-size: 13px;
        color: #333;
        border: 1px solid #ccc;
        border-radius: 3px;
        box-shadow: 0px 1px 5px 1px #ccc;
        .qwui-dropdown_select_item{
            padding: 10px 0 10px 15px;
            .qwui-dropdown_icon{
                display: inline-block;
                width: 14px;
                height: 16px;
                margin: -3px 5px 0 0;
                vertical-align: middle;
                background-size: 100%;
            } 
            .qwui-dropdown_default{
                @include ellipsis;
            }
            &:hover{
                background: #F4F5F9;
            }
        }
    }
    
}
