@charset "UTF-8";

.qwui-contrStatus{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.2);
}
.qwui-contrStatus_list{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fff;
}
.qwui-contrStatus_head,
.qwui-contrStatus_statusList{
  position: relative;
  text-align: center;
  line-height: 50px;
  border-bottom: 1px solid #E6E6E6;
  font-size: 17px;
  color: #333;
}
.qwui-contrStatus_cancel,
.qwui-contrStatus_comfirm{
  position: absolute;
  font-size: 15px;
}
.qwui-contrStatus_cancel{
  left: 15px;
  color: #666;
}
.qwui-contrStatus_comfirm{
  right: 15px;
  color: #467DB9;
}
.qwui-contrStatus_statusList li{
  position: relative;
  border-bottom: 1px solid #E6E6E6;
}
.qwui-contrStatus_statusList .statusActive{
  color: #467DB9;
}
.qwui-contrStatus_statusList .statusActive:after{
  display: inline-block;
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -4px;
  right: 15px;
  width: 13px;
  height: 9px;
  background: url(../../../../assets/images/ic_right.png) 0px 0px;
  background-size: cover;
}
