@keyframes pulse {
    0% {
          -webkit-transform: scaleX(1);
          transform: scaleX(1)
      }
  
      50% {
          -webkit-transform: scale3d(1.5,1.5,1.5);
          transform: scale3d(1.5,1.5,1.5)
      }
  
      to {
          -webkit-transform: scaleX(1);
          transform: scaleX(1)
      }
  }
  .detail_wrap {
      background: #fff;
  }
  /*头部*/
  .detail_header {
      padding: 0 15px;
      &_title {
          padding: 25px 0 7px;
          color: #333;
          font-size: 20px;
          font-weight: normal;
          word-wrap: break-word;
      }
      &_info {
          color: #888;
          font-size: 14px;
          span {
              margin-right: 5px;
          }
      }
  }
  /*正文内容*/
  .detail_body {
      padding: 25px 15px 15px;
      color: #333;
      font-size: 16px;
      line-height: 1.5em;
      word-break: normal;
      word-wrap: break-word;
      &_coverimg {
          text-align: center;
          img {
              width: 100%;
          }
      }
      &_link {
          margin: 15px 0;
          color: #666;
          font-size: 14px;
      }
      /deep/ section {
          max-width: 100%;
      }
      /deep/ img {
          margin: 5px 0;
          max-width: 100%;
          vertical-align: middle;
      }
      /*表格样式*/
      /deep/ table{
          max-width:100%!important;
          width: 100%!important;
          border-collapse: collapse;
        }
      /*表格边宽*/
      /deep/ td{
          border:1px solid #ddd;
      }
      /deep/ ul, ol {
          margin-top: 16px;
          margin-bottom: 16px;
          padding-left: 40px;
        }
      /deep/ ul li {
          list-style-type: disc;
      }
      /*视频兼容样式*/
      /deep/ .video_div {
          position: relative;
          margin-top: 5px;
          .video_div_c {
              position: absolute;
              top:0;
              left:0;
              width: 100%;
              height: 100%;
              z-index: 3;
              background: url(~assets/images/audio_default.png) #fff no-repeat center;
              background-size: 100%;
          }
      }
  }
  /*底部*/
  .detail_footer {
      padding: 0 15px 5px;
      &_type {
          padding: 2px 0 18px;
          color: #888;
          font-size: 13px;
          .type_label {
              margin-right: 10px;
              &::before {
                  content: "";
                  display: inline-block;
                  position: relative;
                  top: 2px;
                  margin-right: 10px;
                  width: 14px;
                  height: 14px;
                  background-image: url(~assets/images/icon-tips.png);
                  background-size: 100% 100%;
                  background-position: center center;
              }
          }
          .type_viewnum {
              cursor: pointer;
              &.num_color {
                   color: #576b95;
              }           
          }
      }
      .media_text {
          margin-bottom: 10px;
          color: #999;
          font-size: 14px;
      }
      &_case {
          margin: 10px 0;
      }
      &_praise {        
          font-size: 14px;
          .icon_wrap {
              margin: 20px 0 10px;
              text-align: center;
              .praise_icon,.share_icon{
                  position: relative;
                  display: inline-block;
                  margin: 0 25px;
                  width: 55px;
                  height: 55px;
                  line-height: 55px;
                  border-radius: 50%;
                  border: 1px solid #ddd;
                  i {
                      position: absolute;
                      margin: auto;
                      top: 0px;
                      bottom: 0;
                      left: 0;
                      right: 0;
                      width: 20px;
                      height: 20px;
                      background-image:url(~assets/images/ic_dz.png);
                      background-repeat: no-repeat;
                      background-size: 77px 20px;
                      -webkit-tap-highlight-color: rgba(0,0,0,0);
                  }
              }
              .praise_icon{
                  &.after_praise {
                      background: #fff6ea;
                      border-color: #ffe5c0;
                  }
                  i {
                      background-position: 0 center;
                      &.pulse {
                          background-position: -19px 0;
                          animation: pulse .7s;
                      }
                  }
              }
              .share_icon{
                  i{
                      background-position: -38px 0;
                      
                  }
              }
              .animate {
                  animation-duration: .5s;
                  animation-name: pulse;
              }
          }
          .praise_list{
              padding: 10px 7px 5px;
              background-color: #f6f6f6;
              overflow: hidden;
              &_title {
                  overflow: hidden;
                  padding-bottom: 5px;
                  font-size: 13px;
                  color: #666;
                  .subscibe_icon,.subscibe_expend::after{
                      display: inline-block;  
                      background: url(~assets/images/CSSSprites.png) no-repeat;
                      background-size: 101px 101px;
                  }
                  .subscibe_icon {                         
                      margin-right: 5px;        
                      width: 14px;
                      height: 12px;                    
                      background-position: 0 -67px;
                  }
                  .subscibe_expend {
                      position: relative;
                      color: #73859c;
                      float: right;
                      &::after{
                          content: "";
                          margin-left: 5px;
                          width: 14px;
                          height: 7px;    
                          vertical-align: 1px;
                          background-position: -60px 0;
                          transform: rotate(180deg);                   
                      }
                      &.down::after {
                          transform: none;
                      }
                  }
              }
              &_content {
                  &.down {
                      max-height: 42px;
                      overflow: hidden;
                  }
                  .subscibe_name {
                      margin-right: 5px;
                      color: #999;
                      &::after{
                          content: ',';
                          padding: 0 3px;
                      }
                      &:last-of-type{
                          margin: 0;
                          &::after{
                              content: ''; 
                          }
                      }
                  }
                  .subscribe_btn {
                      cursor: pointer;
                      color:#73859c;
                  }
              }
          }
      }
      &_page {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 10px;
          padding: 5px 15px;
          height: 45px;
          line-height: 45px;
          color: #666;
          font-size: 14px;
          position: relative;
          &::after{
              content: '';
              position: absolute;
              width: 100%;
              left: 0;
              right: 0;
              top:0;
              height: 1px;
              border-top: 1px solid #ddd;
              transform-origin: 0 100%;
              transform: scaleY(0.5);
              z-index: 2;
          }
          .page_prev::before,
          .page_next::after {
              content: '';
              display: inline-block;
              width: 10px;
              height: 15px;
              background: url(~assets/images/CSSSprites.png);
              background-size:  101px 101px;
              vertical-align: -2px;
          }
          .page_prev {
              cursor: pointer;
              &::before {
                  margin-right: 10px;
                  transform: rotate(180deg);
              }
          }
          .page_next {
              cursor: pointer;
              &::after {
                  margin-left: 10px;
              }
          }
      }
  }