
.exclusive-header {
  position: relative;
  align-items: center;
  .exclusive-btn-right{
    position: absolute;
    right: 40px;
    .qwui-button-primary{
      background: #F5A623;
    }
  }
  & /deep/ .exclusive-btn{
    font-size: 16px;
    min-width: 100px;
    height: 40px;
    padding: 8px 17px;
    margin-left: 20px;
  }

}

/deep/ [ant-click-animating-without-extra-node] {
  position: relative;
  &:after{
    content: '';
    position: absolute;
    top: -6px;
    left: -6px;
    bottom: -6px;
    right: -6px;
    border-radius: inherit;
    border: 6px solid #F87B00;
    opacity: 0.2;
    -webkit-animation: fadeEffect 2s cubic-bezier(0.08, 0.82, 0.17, 1), waveEffect 0.4s cubic-bezier(0.08, 0.82, 0.17, 1);
    animation: fadeEffect 2s cubic-bezier(0.08, 0.82, 0.17, 1), waveEffect 0.4s cubic-bezier(0.08, 0.82, 0.17, 1);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    display: block;
    pointer-events: none;
  }
}
@-webkit-keyframes fadeEffect {
  100% {
    opacity: 0;
  }
}
@keyframes fadeEffect {
  100% {
    opacity: 0;
  }
}

/deep/ ._alert_opt{
  .btn{
    min-width: 46px;
    padding: 0 11px;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    border-radius: 4px;
    box-sizing: inherit;
    cursor: pointer;
  }
  .primaryBtn{
    border: 1px solid #F5A623;
    color: #fff;
    background: #F5A623;
  }
  .defaultBtn{
    border: 1px solid #ccc;
    color: #333;
    background: #fff;
    margin-right: 10px;
  }
}

.margin-left_logo{
  margin-left: 12%
}

@media screen and (max-width: 1024px) {
  .margin-left_logo{
    margin-left: 0;
  }
}
