@import '../../crmBase.scss';
.externalWrap{
    // height: 100vh;
    background: #fff;
    .heightBlock{
        height: rem(50)
    }
    .qwui-warning{
        position:fixed;
        height:36px;
        // width:100%;
        text-align: center;
        background-color:rgba(255,232,232,1);
        z-index: 2;
            .waring-text{
                display:inline-block;
                color:rgba(255,102,110,1);
                font-size:14px;
                line-height: 14px;
                margin-top:11px;
            }
        }
    .selectedContact{
        .contactContent{
            display: flex;
            .deleteContact{
                width: rem(44);
                height: 100%;
                position: relative;
                .icon{
                    position: absolute;
                    top: rem(40);
                    margin-top: -9px;
                    left: 50%;
                    margin-left: -9px;
                    width: 18px;
                    height: 18px;
                    background: url('~assets/images/crm/icon_add_reduce.png') no-repeat;
                    background-size: 200%;
                    &.icon-add{
                      background-position: -18px 0;
                    }
                  }
            }
            .mainContact{
                position: relative;
                padding: 18px 0 11px 0;
                width: 100%;
                height: 100%;
                &:after{
                    @include underLine
                }
                .contactInfo{
                    display: flex;
                    .leftImg{
                        border-radius: 2px;
                        width: rem(38);
                        height: rem(38);
                        img{
                            width: 100%;
                            height: 100%;
                            border-radius: 4px;
                        }
                    }
                    .rightText{
                        flex: 7;
                        padding: 0 10px;
                        .becomeRed{
                            background: #FFF5F5 !important;
                        }
                        .contactName{
                            font-size: 15px;
                            color: #0A1735;
                            line-height: 22px;
                            letter-spacing: 1.5px;
                        }
                        .contactInput{
                            background: #F7F8FA;
                            padding: 4px 12px;
                            .inputBackground{
                                width: 100%;
                                background: #F7F8FA;
                            }
                        }
                        .companyName{
                            display: inline-block;
                            color: #7A7C80;
                            font-size: 14px;
                            line-height: 20px;
                            letter-spacing: 1px;
                            .edit_btn{
                                display: inline-block;
                                margin: -2px 0 0 0.5rem;
                                width: rem(16);
                                height: rem(16);
                                background: url('~assets/images/ic_edit.png') no-repeat center;
                                background-size: 100%;
                                vertical-align: middle;
                            }
                        }
                        .clientRepeat{
                            font-size:12px;
                            margin-top:4px;
                            font-family:PingFangSC-Regular;
                            font-weight:400;
                            color:#FF586D;
                        }
                    }
                }
            }
        }
    }  
    .selectedClient{
        .clientList{
            padding: 0 rem(15);
            // background: pink;
            .clientLi{
                display: flex;
                padding: 10px 0 0 0;
                .clientImg{
                    width: 19px;
                    height: 19px;
                    background: url('~assets/images/crm/ic_client.png') no-repeat center;
                    background-size: 100%;
                }
                .clientName{
                    width: 100%;
                    height: 100%;
                    margin-left: 8px;
                    flex: 7;
                    margin-top: -1.5px;
                    font-size: rem(16);
                    color: #0A1735;
                    line-height: 22px;
                    letter-spacing: 1px;
                    font-family:'PingFangSC-Regular';
                    font-weight:400;
                }
            }
        }
    }
    .greyContact{
        height: rem(40);
        background: #F7F8FA;
        .selected_contact_text{
            letter-spacing: 1px;
            padding: rem(10) 0 rem(10) rem(16);
            font-size: rem(14);
            color: #B2B9C8;
            .blue_text{
                color: #5585F0;
            }
        }
    }
    .fade-enter-active, .fade-leave-active {
        transition: opacity .8s;
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
        opacity: 0;
    }
    .slide-fade-enter-active {
        transition: all .3s ease;
    }
    .slide-fade-leave-active {
        transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    }
    .slide-fade-enter, .slide-fade-leave-to
        /* .slide-fade-leave-active for below version 2.1.8 */ {
        transform: translateX(10px);
        opacity: 0;
    }
    .wrap{
        width: 100%;
    }
    @media screen and (min-width: 1024px) {
        .wrap {
          width: 740px;
          margin: 0 auto;
        }
    }
    input{
      font-family: 'PingFangSC-Regular';
      font-size: 14px;
      line-height: 14px;
    }
    input::-webkit-input-placeholder {
        color: #B2B9C8;
        font-size: 14px;
        line-height: 20px;
    }
}
