.upload-box{
  padding: 0 14px 4px;
  background: #fff;
  .upload{
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 0;
    color: #0A1735;
    line-height: 48px;
    &_title{
      flex: 1;
      font-size: 15px;
    }
    &_input{
      display: none;
    }
    &_upload_icon{
      display: inline-block;
      width: 24px;
      height: 24px;
      background: url("~assets/images/icon_upload.png") no-repeat;
      background-size: contain;
    }
    &_piature-card{

    }
  }
  .image_addIcon{
    display: inline-block;
    width: 48px;
    height: 48px;
    background: url("~assets/images/icon_upload_add.png");
    background-size: 100% 100%;
    vertical-align: top;
    margin: 8px 14px 10px 0;
    &.active{
      margin-top: 16px;
    }
  }
}


.upload-list-enter-active,
.upload-list-leave-active,.upload-list-enter, .upload-list-leave-active {
  transition: all 1s;
}

.upload-list{
  &_item{
    position: relative;
    transition: all .5s cubic-bezier(.55,0,.1,1);
    &_thumbnail{
      position: relative;
      display: inline-block;
      width: 48px;
      min-width: 48px;
      height: 48px;
      overflow: hidden;
      cursor: pointer;
      .img{
        display: inline-block;
        width: 100%;
        height: 100%;
      }
    }
    &_progress{
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      &_mask{
        position: absolute;
        top: 0;
        display: block;
        width: 100%;
        height: 100%;
        background: rgb(0, 0, 0);
        opacity: 0.7;
      }
      .progress_circle{
        position: relative;
        z-index: 1;
      }
    }
    &_name{
      flex:1;
      width: 68%;
      max-height: 50px;
      padding: 0 15px 0 12px;
      cursor: pointer;
    }
    &_error{
      position: absolute;
      top: 0;
      bottom: 0;
      color: #fff;
      left: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
      margin: auto;
      &_mask{
        position: absolute;
        top: 0;
        display: block;
        width: 100%;
        height: 100%;
        background: rgb(0, 0, 0);
        opacity: 0.7;
      }
      &_text{
        width: 50%;
        color: #fff;
        z-index: 1;
      }
    }
    &_title{
      display: -webkit-box;
      font-size: 15px;
      color: #0A1735;
      overflow: hidden;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow-wrap: break-word;
      word-break: break-all;
    }
    &_size{
      font-size: 12px;
      color: #B1B9C8;
    }
    &_icon{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 24px;
      height: 24px;
      padding: 10px 0;
      margin-left: 5px;
      cursor: pointer;
      .remove_icon{
        display: inline-block;
        width: 16px;
        height: 16px;
        background: url("~assets/images/icon_up_list_delete.svg") no-repeat 0 0;
        background-size: cover;
      }
      .down_icon{
        display: inline-block;
        width: 24px;
        height: 24px;
        background: url("~assets/images/icon_up_list_down.svg") no-repeat 0 0;
        background-size: cover;
      }
    }
    &is-success{

    }
  }
  &_picture-card{
    .upload-list_item {
      float: left;
      position: relative;
      display: inline-block;
      width: 48px;
      height: 48px;
      margin: 8px 24px 12px 0;
      &_icon{
        position: absolute;
        top: -12px;
        padding: 0;
        right: -12px;
      }
    }
  }
  &_picture-list{
    .upload-list_item {
      display: flex;
      align-items: center;
      padding: 16px 0;
    }
  }

  &_picture-grid{
    display: inline;
    .upload-list_item {
      display: inline-table;
      float: left;
      width: 31.6062176%;
      margin: 0 10px 10px 0;
      font-size: 0;
      box-sizing: border-box;
      &_thumbnail{
        overflow: hidden;
        width: 100%;
        height: 100%;
        .img{

        }
      }
      &_icon{
        position: absolute;
        top: 4px;
        right: 4px;
        padding: 0;
        .remove_icon{
          width: 24px;
          height: 24px;
        }
      }
      &:nth-child(3n){
        margin-right: 0;
      }
    }

  }

  &_picture-gallery{
    display: inline;
    .upload-list_item {
      display: flex;
      align-items: center;
      padding: 16px 0;
    }
  }
}
