.permission {
  padding: 20px 0;

  .content {
    margin: 20px 0 50px;
    min-height: 500px;

    .form-item {
      padding: 10px 0;
      margin-bottom: 0;
      clear: both;

      .title {
        float: left;
        width: 127px;
        text-align: right;
        line-height: 32px;
        font-size: 14px;

        .mustInput {
          color: red;
          margin-right: 5px;
          font-style: normal;
        }
      }

      .form-field {
        margin-left: 148px;

        .moneyInput {
          display: inline-block;
          width: 90px;
          height: 30px;
          box-sizing: border-box;
          border: 1px solid #D5D5D5;
          font-size: 14px;
          margin-right: 10px;
          padding: 5px;
          border-radius: 2px;
        }

        .fileInput {
          display: none
        }

        .uploadTip {
          display: inline-block;
          color: #999;
          margin-left: 5px;
        }
      }
    }
  }

  .btnContainer {
    border-top: 1px solid #ddd;
    padding-top: 20px;
    text-align: center;
  }
}
