@import '~./variable.scss';
// 背景图片
@mixin bg-image($url) {
  background-image: url($url + "@2x.png");
  @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
    background-image: url($url + "@3x.png");
  }
}

// 不换行
@mixin no-wrap() {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

// 扩展点击区域
@mixin extend-click() {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
  }
}

@mixin disabled-color {
  color: #fff;
  opacity: 0.5;
}

// 底部1像素边框
@mixin border-bottom-1px($color:$border-color) {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid $color;
  }
}

@mixin retain-border-1px($position: 'botttom', $color:$border-color) {
  position: relative;
  &::before {
    content: '';
    position: absolute;
  }
  &::before {
    @if $position=='bottom' {
      width: 100%;
      left: 0;
      bottom: 0;
      border-top: 1px solid $color;
    }
    @else if $position=='top' {
      width: 100%;
      left: 0;
      top: 0;
      border-top: 1px solid $color;
    }
    @else if $position=='left' {
      height: 100%;
      left: 0;
      top: 0;
      border-left: 1px solid $color;
    }
    @else if $position=='right' {
      height: 100%;
      right: 0;
      top: 0;
      border-right: 1px solid $color;
    }
  }
}

// 箭头图标
@mixin allow($rotate: 45deg, $width: 6px, $color: $color-text) {
  content: '';
  display: inline-block;
  width: $width;
  height: $width;
  border-style: solid;
  border-width: 2px 2px 0 0;
  border-color: $color;
  box-sizing: border-box;
  transform: rotate($rotate);
  vertical-align: middle;
}

// 展开、收起图标
@mixin expand-icon() {
  display: inline-block;
  width: 13px;
  height: 13px;
  line-height: 13px;
  font-family: monospace;
  color: $icon-border-color;
  border: 1px solid $icon-border-color;
  text-align: center;
  vertical-align: middle;
}

@mixin page-container($vh:100vh, $background: $color-highlight-background) {
  min-height: $vh;
  margin-bottom: -50px;
  background: $background;
  &::after {
    content: '';
    display: block;
    padding-bottom: 50px;
  }
}

// 报销超额状态
$money-warn: #FF574D;
$money-normal: #458BE9;