// 颜色定义规范
$color-background: #fff;
$color-highlight-background: #f6f6f6;
$color-dialog-background: #666;
$color-theme: #5077AA;
$color-theme-d: rgba(255, 205, 49, 0.5);
$color-danger: #E94F4F;
$color-sub-theme: #458BE9;
$color-normal: #467DB9;
$color-text: #fff;
$color-text-d: #333;
$color-text-sub: #666;
$color-text-tip: #999;
$color-placeholder: #ccc;
$color-text-warn: #E64E4E;
// border
$border-color: #F5F5F5;
$icon-border-color: #BBB;
//字体定义规范
$font-size-small-s: 10px;
$font-size-small: 12px;
$font-size-medium-s: 13px;
$font-size-medium: 14px;
$font-size-medium-x: 16px;
$font-size-large-s: 17px;
$font-size-large: 18px;
$font-size-large-x: 22px;
$box-padding: 15px;
// 审批状态
$approve-status-blue: #A4CDF4;
$approve-status-green: #A9D685;
$approve-status-gray: #AAB0B6;
$approve-status-red: #FF817B;
$approve-status-yellow: #FBCB6A;
$approve-status-violet: #AC9FF4;
$approve-border-width: 3px;
// 超额状态
$money-status-normal: #458BE9;
$money-status-warn: #FF574D;
