* {
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
  font-family: "MicrosoftYaHei";
  font-weight: normal;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

ul, ol {
  list-style: none;
}

li {
  display: inline-block;
}
