@import "~assets/scss/mixins/mixins";
@import "~assets/scss/common/var";

@include b(date-editor){
  position: relative;
  display: inline-block;
  text-align: left;

  &.qwui-input,
  &.qwui-input__inner {
    width: 220px;
  }

  .qwui-icon_circle_close {
    cursor: pointer;
  }
}
