@import "~assets/scss/common/var";

@include b(picker_panel){
  color: $--color-text-regular;
  border: 1px solid $--datepicker-border-color;
  box-shadow: $--box-shadow-light;
  background: $--color-white;
  border-radius: $--border-radius-base;
  line-height: 30px;
  margin: 5px 0;

  @include e(content) {
    position: relative;
    margin: 15px;
  }
}
