$qwui:'.qwui-';

.qwui-wrap{
  height:100vh;
  background: #fff;
  overflow: auto;
  &::-webkit-scrollbar {/*隐藏滚轮*/
    display: none;
  }
  .wrap{
    padding:11px 14px 110px;
    background: url(../../../assets/images/img_a-mainpage_bg.png) #fff no-repeat top left;
    background-size: 100% 87px;
    color:#0A1735;
    box-sizing: border-box;
    #{$qwui}head_wrap{
      position: relative;
      #{$qwui}head_nav{
        display: flex;
        height: 107px;
        background: #fff;
        box-shadow:0px 2px 12px 0px rgba(0,0,0,0.07);
        border-radius:4px;
        padding-top: 15px;
        box-sizing: border-box;
        justify-content: space-around;
        #{$qwui}nav_item{
          position:relative;
          flex:1;
          width: 56px;
          line-height: 20px;
          text-align: center;
          & img{
            margin-bottom: 3px;
          }
          #{$qwui}nav_name{
            font-size: 14px;
          }
          #{$qwui}unread_red{
            position: absolute;
            top: 0;
            left: 50%;
            margin-left: 10px;
            width: 8px;
            height: 8px;
            background: #ff586d;
            border-radius: 50%;
            color: #fff;
            border: 2px solid #fff;
          }
        }
        #{$qwui}app_managment{
          position: absolute; 
          top: 0;
          right: 0;
          width: 35px;
          img{
            width: 35px;
          }
        }
      }
      #{$qwui}one_nav{
        display: flex;
        height: 52px;
        background: #fff;
        box-shadow:0px 2px 12px 0px rgba(0,0,0,0.07);
        border-radius:4px;
        box-sizing: border-box;
        justify-content: space-around;
        #{$qwui}nav_item{
          display: flex;
          flex:1;
          width: 56px;
          line-height: 20px;
          text-align: center;
          align-items: center;
          margin-left: 24px;
          & img{
            width: 28px;
            margin-bottom: 3px;
          }
          #{$qwui}nav_name{
            font-size: 14px;
            margin-left: 13px;
          }
        }
        #{$qwui}app_managment{
          position: absolute; 
          top: 0;
          right: 0;
          width: 35px;
          img{
            width: 35px;
          }
        }
      }
    }
    #{$qwui}main_wrap{
      #{$qwui}community{
        #{$qwui}topic_margin{
          margin-top: 16px;
        }
        #{$qwui}activity_margin{
          margin-top: 14px;
        }
        #{$qwui}survey_margin{
          margin-top: 14px;
        }
      }
    }
  }
}

