
.qw-header{
  display:flex;
  flex: 0 0 auto;
  max-width: 1280px;
  min-width: 940px;
  padding: 0 40px;
  margin: 0 auto;
  .logo{
    display: flex;
    align-items: center;
    float: left;
    margin: 16px 24px 16px 0;
    background: rgba(255,255,255,.2);
  }
  .title{
    display: inline-block;
    font-size: 20px;
    color: #999;
    padding-left: 10px;
    border-left: 1px solid #ccc;
    line-height: 20px;
    margin-left: 15px;
  }

}
