
.radio_group{
  &.in-line{
    display: flex;
  }
}

.radio{
  display: inline-block;
  position: relative;
  width: 100%;
  padding: 5px;
  color: #333;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  white-space: nowrap;
  user-select: none;
  &.disabled{
    opacity: 0.5;
    cursor: not-allowed;
  }
  & .radio_input{
    white-space: nowrap;
    outline: none;
    display: inline-block;
    line-height: 1;
    position: relative;
    vertical-align: middle;
    & span{
      display: inline-block;
      position: relative;
      width:20px;
      height:20px;
      border:1px solid #ccc;
      border-radius:50%;
      box-sizing: border-box;
      background:#fff;
      transition: border-color .25s cubic-bezier(.71,-.46,.29,1.46),background-color .25s cubic-bezier(.71,-.46,.29,1.46);
    }
    & input{
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      visibility: hidden;
    }
    & input:checked + span, & input:hover + span{
      border: 1px solid #C31725;
    }
    & input:checked + span:after{
      content: '';
      width: 8px;
      height: 8px;
      position: absolute;
      top: 5px;
      left: 5px;
      background: #C31725;
      border-radius: 50%;
      -webkit-transform: rotate(-45deg);
      transition: transform .15s cubic-bezier(.71,-.46,.88,.6) .05s;
      transform-origin: center;
    }
  }
}


