/* Qwy Chalk Variables */

/*Transition*/
$--border-transition-base: border-color .2s cubic-bezier(.645,.045,.355,1) !default;

/*Colors*/
$--color-white:#fff !default;

$--color-primary: #C31725 !default;

$--color-text-regular: #383838 !default;
$--color-text-placeholder: #c0c4cc !default;

/*Font*/
$--font-size-base: 14px !default;

/* Background*/
$--background-color-base: #f5f7fa !default;

/*Border*/
$--border-width-base:1px !default;
$--border-style-base:solid !default;
$--border-color-base:#d5d5d5 !default;
$--border-color-light: #e4e7ed !default;
$--border-base:$--border-width-base $--border-style-base $--border-color-base !default;
$--border-color-hover: $--color-text-placeholder !default;
$--border-radius-base: 2px !default;

/* Box-shadow*/
$--box-shadow-light: 0 3px 12px 0 rgba(0, 0, 0, 0.08) !default;

/* Disable base*/
$--disabled-fill-base: $--background-color-base !default;
$--disabled-color-base: $--color-text-placeholder !default;
$--disabled-border-base: $--border-color-light !default;

/*Input*/
$--input-color: $--color-text-regular !default;
$--input-height: 32px !default;
$--input-fill:$--color-white !default;
$--input-border:$--border-base !default;
$--input-placeholder-color: $--color-text-placeholder !default;
$--input-border-radius: $--border-radius-base !default;
$--input-icon-color: $--color-text-placeholder !default;

$--input-hover-border: $--border-color-hover !default;

$--input-focus-border: $--color-primary !default;

$--input-disabled-fill: $--disabled-fill-base !default;
$--input-disabled-border: $--disabled-border-base !default;
$--input-disabled-color: $--disabled-color-base !default;

$--input-disabled-placeholder-color: $--color-text-placeholder !default;

/* Disable base*/
$--disabled-border-base: $--border-color-light !default;

/* DatePicker*/
$--datepicker-border-color: $--disabled-border-base !default;
