@import './base.scss';

input[type=radio]::before{
    display:none;
}
@mixin ellipsis{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.mt5{
    margin-top: 5px;
}
.inline_box{
    display: inline-block;
    font-size: 0;
    vertical-align: middle;
    margin-top: -3px;
}
