// color
$color-white: #fff;
$color-text-base: #333;
$color-text-highlight: #666;
$color-text-disabled: #999;
$color-text-dark: #bbb;
$color-primary: #C31725;
$color-error: #f56262;
$color-hover: #EEE;
$color-off: #ccc;
// border
$border-color-primary: #F87B00;
$border-color-base: #CCC;
// font
$font-size-small-x: 12px;
$font-size-small: 13px;
$font-size-base: 14px;
$font-size-medium: 16px;
$font-size-medium-x: 18px;
$font-size-large: 20px;
$font-size-large-x: 22px;

