@import '@/assets/scss/baseUI.scss';

$step-height: 30px;

.qwui-steps{
    display: flex;
    height: 100%;
}
.qwui-step{
    flex: 1;
    .qwui-step_head{
        position: relative;
        .qwui-step_iconWrap{
            position: relative;
            z-index: 1;
            display: inline-block;
            background: #fbfbfb;
            .qwui-step_defaultIcon{             
                width: $step-height;
                height: $step-height;
                line-height: $step-height;
                font-size: 16px;
                color: #fff;
                text-align: center;
                border-radius: 50%;
                background: $color-off;
            }
            .qwui-step_defaultIcon.active{
                background: $color-primary;
            }
        }
        .qwui-step_line{
            position: absolute;
            top: 50%;
            margin-top: -1px;
            width: 100%;
            border-top: 2px solid #eee;
            &.dash{
                border-top: 2px dashed #eee;
            }
        }
        .qwui-step_line_vertical{
            position: absolute;
            left: 50%;
            margin-left: -1px;
            height: 100%;
            border-left: 2px solid #eee;
            &.dash{
                border-left: 2px dashed #eee;
            }
        }  
        .qwui-step_line.active,
        .qwui-step_line_vertical.active{
            border-color: $color-primary;
        }
         
    }
    &.center{
        text-align: center;
        .qwui-step_line{
            left: 50%;
        }
        &:last-child{
            flex-grow: 1;
        }
    }
    &:last-child{
        flex-grow: 0;
        .qwui-step_line,
        .qwui-step_line_vertical{
            width: 0;
            border: 0 !important;
        }
    }  
    .qwui-step_title{
        margin-top: 5px;
        color: #999;
        white-space: nowrap;
    }
    .qwui-step_title.active{
        color: $color-primary;
    }
}
.vertical{
    flex-direction: column;
    .qwui-step{
        display: -webkit-box;
        .qwui-step_main{
            padding-left: 10px;
            .qwui-step_title{
                flex: 1;
                margin-top: 0;
                line-height: $step-height;
            }
        }
    }
}
