@charset "UTF-8";


.visitWrap{
  padding-bottom: 32px ;

  .form{
    padding: 40px 0 20px;
    border-bottom: 1px dashed #E5E5E5;
  }
  //标题
  .title{
    margin: 24px 0 0;
    color: #A6A6A6;
    font-size: 14px;
    span{
      color: #808080;
    }
    .backIcon{
      display: inline-block;
      margin-right: 16px;
      margin-top: -5px;
      vertical-align: middle;
      width: 24px;
      height: 24px;
      background: url("~assets/images/ic_back.png") no-repeat 0 0;
      background-size: cover;
      &:hover{
        cursor: pointer;
      }
    }
  }

  //表单
  .form-item{
    margin-bottom: 20px;
    h1,.basicItem{
      display: inline-block;
    }
    h1{
      margin-right: 20px;
      vertical-align: top;
      width: 139px;
      text-align: right;
    }
    .isMust:before{
      display: inline-block;
      content: '*';
      margin-right: 3px;
      color: #FF001F;
      font-size: 14px;
    }


    //图片 负责人 相关人
    .basicItem{
      .clickBox{
        width: 340px;
        height: 48px;
        max-height: 88px;
        border: 1px dashed #d5d5d5;
        background: #fff;
        .personLabel{
          margin: 10px;
        }
        span{
          display: block;
          text-align: center;
          line-height: 48px;
          color: #A6A6A6;
          font-size: 14px;
          &:before{
            display: inline-block;
            content: '+';
            color: #A6A6A6;
            margin-right: 4px;
          }
        }

      }
      .uploadBtn{
        display: inline-block;
        /deep/ .qwui-upload_item{
          width: 60px;
        }
      }
      .fileTip{
        display: inline-block;
        vertical-align: middle;
        margin-left: 12px;
        margin-top: 5px;
        color: #A6A6A6;
        font-size: 14px;
      }
      .numTip{
        margin:8px 0 0 0;
        color: #A6A6A6;
        font-size: 12px;
        .num{
          margin: 0 3px;
        }
        .resetBtn{
          margin-left: 10px;
          color: #409EFF;
          &:hover{
            cursor: pointer;
          }
        }
      }
      .percent{
        margin-left: 8px;
        color: #808080;
        font-size: 14px;
      }
      /deep/ .qw-select{
        width: 340px;
        border-radius:2px;
      }
      /deep/ .qwui-upload{
        border-radius:2px;
      }
      /deep/ .qwui-click_choose{
        width: 340px;
        height: 48px;
        max-height: 88px;
        box-sizing: border-box;
        .qwui-click_choose_word{
          margin-top: -20px;
        }
      }
      /deep/ .textarea_wrap{
        .qw_textarea{
          padding-left: 10px;
        }
        textarea::-webkit-input-placeholder{
          color: #D5D5D5;
        }
      }
      /deep/ .box_wrap{
        width: 340px;
        .qwui-select_wrap{
          background: #fff;
        }
        .round{
          border-radius: 2px;
        }
      }

    }
    .errTip{
      margin-left: 162px;
      color: #FF001F;
      font-size: 14px;
    }
  }

  .selectPerson{
    padding: 40px 0 54px;
    border-bottom: 1px solid #E6E6E6;
  }

  .updateBtn{
    display: block;
    margin: 20px auto 0;
  }

  .qwui-button{
    border-radius:2px;
  }

}
