@charset "UTF-8";

.recycleList_top{
  margin-top: 24px ;
  .recycleList_button{
    float: left;
    .qwui-recycleList_back{
      display: inline-block;
      margin-top: -5px;
      margin-right: 10px;
      width: 28px;
      height: 28px;
      vertical-align: middle;
      background: url("~assets/images/ic_back.png") 0px 0px;
      background-size:cover;
    }
    .qwui-recycleList_back:hover{
      cursor: pointer;
    }
    /deep/ .qwui-button{
      margin-right: 6px;
      color: #808080;
      border-radius: 2px;
    }
  }
  .selectPool{
    float: right;
    .select{
      margin-right: 8px;
    }
  }
  .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

.statusBtn{
  margin-top:20px;
  color: #808080;
  font-size: 14px;
  span:hover{
    color: #F87B00;
    cursor: pointer;
  }
  .frozon{
    margin: 0 28px 0 2px;
  }
  .active{
    color: #F87B00;
  }
}

.clientList{
  margin-top: 12px;
}

.boxSlot{
  padding: 15px;
}
.box_title{
  font-size: 18px;
  color: #333;
  font-weight: bold;
}
