.box_wrap .qwui-select_wrap {
  background: #fff !important;

  .text_wrap {
    background: #fff !important;
  }
}
.qw-modal-open{
  position: relative!important;
}
.qw-modal .modal-body{
  max-height: 450px !important;
  overflow: auto;
}
.qw-dialog .qw-mask{
  z-index:90!important;
}
.qw-dialog .qw-dialog-box{
  z-index:95!important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none; 
  margin: 0; 
}
input{
  -moz-appearance:textfield;
}


