@import "../../base/common/color";
@import "../../base/common/import-lib-var";
%opacity{
  opacity: 0
}
%transition{
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}
%transform{
  -webkit-transform: translate3d(0, 273px, 0);
  transform: translate3d(0, 273px, 0)
}
%operate-text{
  position: absolute;
  top: 3px;
  padding: 16px;
  font-size: $font14;
  line-height: 21px;
}
%content-mask{
  z-index: 10;
  width: 100%;
  height: 68px;
  pointer-events: none;
  -webkit-transform: translateZ(0);
  transform: translateZ(0)
}
.picker {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
  font-size: $font14;
  background-color: rgba(37, 38, 45, .4);
  &.picker-fade-enter{
    @extend %opacity;
  }
  &.picker-fade-leave-active{
    @extend %opacity;
    @extend %transition;
  }
  &.picker-fade-enter-active{
    @extend %transition;
  }
  & .picker-panel{
    position: absolute;
    z-index: 600;
    bottom: 0;
    width: 100%;
    height: 273px;
    background: $defaultColor;
    &.picker-move-enter{
      @extend %transform;
    }
    &.picker-move-enter-active{
      @extend %transition;
    }
    &.picker-move-leave-active{
      @extend %transition;
      @extend %transform;
    }
    & .picker-choose{
      position: relative;
      height: 60px;
      color: $Darkgrey-fcolor;
      & .picker-title{
        margin: 0;
        line-height: 60px;
        font-weight: 400;
        text-align: center;
        font-size: $font15;
        color: $fnMainColor;
        cursor: pointer;
      }
      & .cancel{
        @extend %operate-text;
        left: 0;
        &:active{
          color: $cancelText;
        }
      }
      & .confirm{
        @extend %operate-text;
        right: 0;
        color: $confirmText;
        &:active{
          color: $confirmTextActive;
        }
      }
    }
    & .picker-illustration{
      display: flex;
      position: relative;
      height: 20px;
      padding: 0 16px;
      color: $Darkgrey-fcolor;
      & .ills-item{
        flex:1;
        font-size: 15px;
        line-height: 20px;
        color: $fnMainColor;
        text-align: center;
      }
    }
    & .picker-content{
      position: relative;
      top: 20px;
      & .mask-bottom{
        @extend %content-mask;
        position: absolute;
        bottom: 1px;
        background: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, .4)), to(hsla(0, 0%, 100%, .8)));
        background: linear-gradient(180deg, hsla(0, 0%, 100%, .4), hsla(0, 0%, 100%, .8))
      }
      & .mask-top{
        @extend %content-mask;
        position: absolute;
        top: 0;
        background: -webkit-gradient(linear, left bottom, left top, from(hsla(0, 0%, 100%, .4)), to(hsla(0, 0%, 100%, .8)));
        background: linear-gradient(0deg, hsla(0, 0%, 100%, .4), hsla(0, 0%, 100%, .8))
      }
    }
    & .wheel-wrapper{
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      padding: 0 16px;
      & .wheel{
        -ms-flex: 1 1 1 e-9px;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        flex: 1;
        -webkit-flex-basis: 1 e-9px;
        -ms-flex-preferred-size: 1 e-9px;
        flex-basis: 1 e-9px;
        width: 1%;
        height: 173px;
        overflow: hidden;
        font-size: $font20;
        & .wheel-scroll{
          padding: 0;
          margin-top: 68px;
          line-height: 36px;
          list-style: none;
          & .wheel-item{
            list-style: none;
            height: 36px;
            overflow: hidden;
            white-space: nowrap;
            color: $fnMainColor;
            font-size: 15px;
          }
        }
      }
    }
  }
  & .picker-footer{
    height: 20px
  }
}


