.fieldView {
  background-color: #fff;
  margin-bottom: 8px;
  &.active {
    border: 1px dashed rgba(85,133,240,0.6);
  }
  &-header {
    padding: 24px 15px;
  }
  &-title {
    font-size: 20px;
    margin-bottom: 10px;
    color: #0A1736;
  }
  &-content {
    word-wrap: break-word;
    color: #7A7D80;
  }
  &-item {
    padding: 16px 15px;
  }
  &-action {
    height: 44px;
    line-height: 44px;
    display: flex;
    font-size: 15px;
    margin-top: -8px;
    &-button {
      flex: 1;
      text-align: center;
      vertical-align: middle;
      cursor: pointer;
    }
    .action-icon {
      display: inline-block;
      width: 24px;
      height: 24px;
      margin-right: 6px;
      vertical-align: middle;
    }
  }
  &-edit {
    color: #5585F0;
    .action-icon {
      background: url("~assets/svg/ic_a-form_editor.svg") no-repeat center center;
    }
  }
  &-delete {
    color: #FF596D;
    .action-icon {
      background: url("~assets/svg/ic_a-form_del.svg") no-repeat center 2px;
    }
  }
  &-move-up,&-move-down {
    color: #B2B9C8;
    .action-icon {
      background: url("~assets/svg/ic_a-form_sorting_upward.svg") no-repeat center center;
    }
  }
  &-move-down {
    .action-icon {
      transform: rotate(180deg);
    }
  }
  &-title {
    font-size: 15px;
    margin-bottom: 10px;
    color: #0A1736;
  }
}
.fieldViewBox {
  .titleTip {
    color: #7B7D80;
  }
}
