h1,h2 {
  font-weight: normal;
}
.mustTip {
  color: #FF1515;
}
input,textarea{
  -webkit-appearance:none!important;
}
.FD {
  &-addButton {
    display: block;
    height: 44px;
    line-height: 44px;
    font-size: 15px;
    text-align: center;
    margin: 30px 15px 105px;
    border: 1px dashed #D3D5DC;
    border-radius: 4px;
    color: #5585F0;
    cursor: pointer;
    background-color: #fff;
    &-icon {
      display: inline-block;
      width: 13px;
      height: 13px;
      background-size: contain;
      margin-right: 8px;
      background: url("~assets/svg/ic_a-form_add.svg") no-repeat center center;
      vertical-align: middle;
    }
  }
}
.De-form {
  &-label {
    font-size: 15px;
    color: #0A1736;
  }
  &-input-sm {
    display: inline-block;
    padding: 8px 15px;
    font-size: 15px;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    box-sizing: border-box;
    color: #0A1736;
    input {
      font-size: 15px;
      width: 100%;
      line-height: 1;
      vertical-align: middle;
    }
  }
  &-input-lg{
    display: block;
    width: 100%;
    @extend .De-form-input-sm;
    &[readonly],&[disabled] {
      background-color: #fff;
      cursor: pointer;
    }
    input {
      font-size: 15px;
    }
  }
  &-icon-arrow {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-size: contain;
    background: url("~assets/svg/icon_a-public_arrow-right.svg") no-repeat center center;
    vertical-align: middle;
  }
  &-group {
    position: relative;
    .De-form {
      &-input-lg{
        padding: 11px 36px 11px 15px;
      }
      &-icon-arrow {
        position: absolute;
        right: 12px;
        top: 50%;
        margin-top: -12px;
      }
    }
  }
}
textarea.De-form-input-lg {
  height: 110px;
  /*滚动条*/
  &::-webkit-scrollbar {
    width: 6px;
    height: 2px;
  }
  &::-webkit-scrollbar-thumb {
    border: 0;
    border-radius: 10px;
    background: #dfdfdf;
  }
}
@each $icon in form_icon_location, ic_a-form_date_small, ic_a-form_time_small, ic_a-form_datetime_small{
  .#{$icon} {
    @extend .De-form-icon-arrow;
    background: url('~assets/svg/#{$icon}.svg') no-repeat center center;
  }
}
@each $icon in ic_a-form_star,ic_a-form_heart{
  .#{$icon} {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: contain;
    vertical-align: middle;
    background: url('~assets/svg/#{$icon}.svg') no-repeat center center;
  }
}
