@import '../../../crmBase.scss';

.client_recycle{
    height: 100%;
    .list_container{
        background: #fff;
        position: absolute;
        width: 100%;
        top: 43px;
        bottom: 0px;
    }
    .recycle_msg{
        padding-left: rem(15);
        height: rem(45);
        line-height: rem(45);
        font-size: rem(15);
        .recycle_num{
            float: right;
            margin-right: rem(15);
            font-size: rem(18);
            color: #467DB9;
        }
    }
    .no-data{
        text-align: center;
        font-size: 14px;
        margin-top: 87px;
        .noData_img{
          background: url('~assets/images/crm/no_data.png');
          background-size: 190px 170px;
          width: 200px;
          height: 174px;
          margin: 0 auto;
        }
        .noData_text{
          color: #A2A5B2
        }
    }
}