@import '../../crmBase.scss';

.crm_radio_select{
    padding-left: rem(15);
    background: #fcfcfc;
    li{
        position: relative;
        height: rem(45);
        line-height: rem(45);
        font-size: rem(16);
        @include ellipsis;
        &:after{
            @include underLine;
        }
        &:last-child:after{
            content: normal;
        }
        .name{
            width: 90%;
            @include ellipsis;
        }
    }
    .active{
        position: relative;
        color: #467db9;
        &:before{
            content: "";
            position: absolute;
            top: 50%;
            right: 20px;
            margin-top: -4px;
            width: 13px;
            height: 9px;
            background: url('~assets/images/ic_right.png') no-repeat;
            background-size: 13px 9px;
        }
    }
}