@import '@/assets/scss/baseUI.scss';

.floatDot{ 
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    display: block;
    margin: auto;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
}
.switch_wrap{
    position: relative;
    width: 42px;
    height: 22px;
    border-radius: 15px;  
    cursor: pointer;
}
.switch_wrap.on{
    background: $color-primary;
    &:after{
        @extend .floatDot;
        right: 1px;
    }
}
.switch_wrap.off{
    background: $color-off;
    &:after{
        @extend .floatDot;
        left: 1px;
    }
}