.crm_fixed_nail{
    position: absolute;
    right: 6px;
    bottom: 75px;
    z-index: 3;
    width: 60px;
    height: 60px;
    background: url(~assets/images/crm/add_btn.png) no-repeat;
    background-size: 100%;
    cursor: pointer;
}
