@charset "UTF-8";

.qwui-details_content{
  margin-top: 112px;
  margin-bottom: 70px;
}
.qwui-details_content .qwui-no_record_box {
  position: fixed;
  margin-top: -98px;
}
@media screen and (min-width: 1024px){
  .qwui-footbtn{
    width: 740px !important;
  }
}
