.qwui-pick_person_mask{
  z-index:100 !important;
}
.clientList {
 
  /deep/ .table_wrap {
    width: 100% !important;
    min-width: 0px !important;
  }
 
  .pageTop {
    /deep/ .qwui-field_wrap {
      top: 30px;
      left: -185px;
    }
  }
 
  /deep/ .qwui-button.is-plain {
    border-color: #c6c6c6;
    color: #2e2e2e;

    &:hover {
      background: rgba(246, 246, 246, 1);
      color: #2e2e2e;
    }
  }
  /deep/ .datepicker>input.focus{
    -webkit-box-shadow: 0 0 0 #fff;
    box-shadow: 0 0 0 #fff;
   }
  .seniorBox {
    .searchUl {
      li {
        /deep/ .qw_baseInput {
          width: 286px;
          height: 28px;
        }

        /deep/ .inputWidth {
          width: 286px;
          min-width: 0;
         
            /deep/.qwui-select_wrap{
              height:28px;
            
          }
        }

        /deep/ .datepicker>input {
          height: 28px;
        }
        
        .competitorPickPerson {
         
          /deep/ .qwui-choose_person {
            /deep/ .qwui-choose_result {
              /deep/.qwui-click_choose {
                box-sizing: border-box;
                width: 286px;
                height: 28px;
                padding-top: 2px;
                padding-bottom: 0;

                /deep/ span.qwui-click_choose_word {
                  line-height: 22px;
                }

                /deep/ li {
                  padding: 0;
                }
              }
            }
          }
        }
        /deep/ .qwui-dept_selected {
          margin: 0px 5px 2px 0;
        }

      }

    }
  }
  
  /deep/ .qw-modal{
    /deep/.clearSelect{
      float:none;
    }
    /deep/.qwui-radio{
      margin-left:14px;
    }
    /deep/.checkbox{
      margin-right:2px !important;
    }
    /deep/.qwui-tab-header{
      font-size:14px;
    }
    
  }
  
}
.personCount{
  text-align: left;
  line-height: 28px;
}

.marginR10{
  margin-right:12px;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.clientList {
  width: 100%;
  padding: 20px 0;
  .trans_pickPerson{
    width:340px;
    height:48px;
    border:1px dashed #D5D5D5;
    padding:4px 8px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    span{
      display: inline-block;
      width:100%;
      height:100%;
      font-size: 14px;
      color:#BABABA;
      line-height: 38px;
      text-align: center;
      cursor: pointer;
    }
    li{
      .trans-user_selected{
        border: 1px solid #ddd;
        list-style:none;
        width:auto;
        height:24px;
        padding-right:10px;
        line-height: 24px;
        vertical-align: top;
        border-radius:3px;
        display: flex;
        vertical-align: top;
        .trans-dept_selected_icon{
          display: inline-block;
          width: 26px;
          height: 24px;
          margin-right: 5px;
          list-style: none;
          vertical-align: top;
        }
      }
    }
  }
  .transfer_personCount{
    width:100%;
    text-align: left;
    margin-top:5px;
    padding-left:88px;
    box-sizing: border-box;
    font-size: 12px;
    span:first-of-type{
      color:#B6B6B6;
    }
    span:last-of-type{
      color:#74ACFF;
      cursor: pointer;
    }
    
  }
  .dashIcon {
    display: inline-block;
    height: 20px;
    border-left: 1px dashed #c6c6c6;
    margin: 0 5px;
    position: relative;
    top: 5px;
  }

  .pageTop {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .seniorSearchBtn {
      position: relative;
      display: inline-block;
      height: 32px;
      padding: 0 18px 0 11px;
      margin: 0;
      line-height: 32px;
      font-size: 14px;
      color: #666;
      text-decoration: none;
    }

    .seniorSearchBtn::after {
      content: "";
      position: absolute;
      top: 14px;
      border-color: transparent transparent #b3b3b3;
      border-style: solid;
      border-width: 5px;
      transform: rotate(180deg);
      margin-left:3px;
    }

    .borderStyle {
      border: 1px solid #c6c6c6;
      border-bottom: none;
    }

    .borderStyle::before {
      content: "";
      position: absolute;
      width: 57px;
      height: 10px;
      border-left: 1px solid #c6c6c6;
      border-right: 1px solid #c6c6c6;
      border-bottom: 1px solid #fafafa;
      top: 32px;
      left: -1px;
    }

    .tableSettingIcon {
      display: inline-block;
      width: 16px;
      height: 16px;
      margin-left:5px;
      vertical-align: middle;
      background: url(../../../../../../assets/images/crm_setting_icon.png) no-repeat center;
    }
  }

  .seniorBox {
    width: 100%;
    border: 1px solid #c6c6c6;
    margin-top: 10px;

    .searchUl {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;

      li {
        padding-left: 20px;

        .searchTitle {
          padding: 10px 0 5px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

      }
    }

    .searchConfirmBtn {
      width: 100%;
      height: 50px;
      line-height: 50px;
      text-align: right;
      padding-right: 15px;
      box-sizing: border-box;
      margin-top: 15px;
      background: #F4F4F4;
      border-radius: 0px 0px 0px 2px;
    }
  }

  .tableBox {
    margin-top: 20px;
  }

  .qw-modal{
    .modal-body{
      .modalContent {
        min-width: 300px;
        margin: 20px 0 34px 0;
        padding: 0 76px;
      }
    }
  }
  

  .importContent {
    margin: 20px 0 40px 0;
    padding: 0 20px;
    min-width: 540px;

    .importStep {
      .importTitle {
        height: 40px;
        line-height: 34px;
        vertical-align: middle;
        border-bottom: 1px dashed #b6b6b6;
        display: flex;

        h3 {
          font-family: Georgia;
          font-size: 48px;
          color: #b6b6b6;
          line-height: 24px;
          font-style: italic;
        }
      }

      .importBody {
        padding: 20px 10px 0;
        text-align: left;
      }
    }
  }

  .flex {
    display: flex;
  }

  .textAlign {
    text-align: left;
  }

  .lineH {
    line-height: 40px;
  }
  .mr44{
    margin-right:44px;
  }
  .qwui-user_default_img{
    display: inline-block;
    width: 26px;
    height: 24px;
    margin-right: 5px;
    list-style: none;
    vertical-align: top;
    background: url(../../../../../../assets/images/user_icon.png) no-repeat center;
    background-size: 26px 24px;
  }
}



.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.1s;
}

.fade-enter,
.fade-leave-to

/* .fade-leave-active below version 2.1.8 */
  {
  opacity: 0;
}
