.icon{
    @extend .label-after-input;
    display: inline-block;
    width: 16px;
    height: 16px;        
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
.orange-font-btn{
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
    color: #F87B00;
}
.ellipsis{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.wrap{
    max-width: 839px;    
    padding: 0 20px;
    background-color: #ffffff;
    & /deep/ .qw_input.qw_sortInput{        
        width: 100%;        
    }
    .quota-block{
        position: relative;
        padding: 31px 80px;        
    }
    .quota-block-boreder{
        border-bottom: 2px dashed #E5E5E5;
    }
    .form-input{
        display: inline-block;
        width: 242px;        
    }
    .calculator{
        height: 32px;
        line-height: 32px;
        .expression{   
            @extend .ellipsis;      
            float: left;
            width: 320px;            
            font-size: 14px;
            color: #808080;            
        }
        .setExpression{
            float: right;
            cursor: pointer;
            font-size: 14px;
            color: #F87B00;
        }
    }    
    .form-range{
        display: inline-block;
        width: 80px;
    }
    .field-name-block{
        @extend .ellipsis;
        display: inline-block;
        width: 210px;        
        height: 32px;
        line-height: 32px;
    }
    .access-block{
        float: right;
        display: flex;
        align-items: center;
    }
    .form-access-select{
        display: inline-block;
        width: 105px;
    } 
    .label-after-input{
        margin-left: 16px;
    }
    .label-before-input{
        margin-right: 16px;
    }    
    .icon-delete{
        @extend .icon;
        background-image: url('~assets/images/ic_delete.png');
    }
    .icon-rubbish-bin{
        @extend .icon;
        position: absolute;
        top: 23px;
        right: 34px;
        width: 20px;
        height: 20px;
        background-image: url('~assets/images/garbageBin.png');        
    }    
    .mt10{
        margin-top: 10px;
    }
}
.footer-btn-block{
    display: flex;
    align-items: center;
    .icon-add-quota{
        @extend .icon;
        width: 20px;
        height: 20px;
        margin-right: 8px;
        background-image: url('~assets/images/orange-add-btn.png');       
    }
    .add-btn-quota{
        @extend .orange-font-btn;
        font-size: 16px;
    }
}