.page{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #ffffff;
}

.page--gray{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #F7F7F7;
}

.more{
  height:19px;
  font-size:13px;
  font-weight:400;
  line-height:19px;
  color:rgba(153,153,153,1);
  padding-top:15px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.more__icon{
  width: 7px;
  display: inline-block;
  height: 11px;
  background-image: url('~@/module/channelManagement/static/images/icon_arrow_right.png');
  background-repeat: no-repeat;
  background-size: 100%;
  margin-left: 10px;
}