$rpx: 10rem/750;
$primary-color: #6083e7;
$primary-text-color: #5585f0;
$gutter-bg: #f7f8fa;
$border-color: #cccccc;

// .page {
//   position: absolute;
//   left: 0;
//   right: 0;
//   top: 0;
//   bottom: 0;
//   background: #f7f8fa;
// }
