@charset "UTF-8";

@media screen and (min-width: 1024px){
  .qwui-bottomButton{
    width: 740px !important;
  }
}
.qwui-poolList{
  margin-bottom: 70px;
}
.qwui-listItem{
  position: relative;
  padding: 15px;
  color: #333;
  font-size: 16px;
  background: #fff;
  border-bottom: 1px solid #f3f3f3;
}
.qwui-poolInput{
  margin-left: -23px;
  opacity: 0;
}
.qwui-listItem p{
  display: inline-block;
  margin-left: 2px;
}
.qwui-listItem .qwui-poolClientNum{
  margin-left: 5px;
  color: #999;
}

.qwui-listItem .iconfont{
  display: inline-block;
  margin-right: 4px;
  width: 16px;
  height: 16px;
  color: #ccc;
}
.qwui-bottomButton{
  position: fixed;
  bottom: 0;
  padding: 8px 15px;
  width: 100%;
  border-top: 1px solid #e6e6e6;
  background: #fff;
}
.qwui-bottomButton button{
  margin-right: 2%;
  width: 44%;
  height: 44px;
  font-size: 16px;
  color: #fff;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  background: #2F7DCD;
}
.qwui-bottomButton .qwui-back{
  border: 1px solid #e6e6e6;
  color: #333;
  background: #fbfafc;
}
.check_box{
  margin-top: -2px;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  background: url(../../../../assets/images/crm/checkbox_on.png) no-repeat 0px 0px;
  background-size: cover;
}
