@import "./config.scss";

//common.css写少的两个初始化标签化
input ,button { margin:0; padding:0; }

*, :after, :before {
  box-sizing: border-box;
}
//动画效果
.transition-drop-enter-active {
  opacity: 0;
  animation-name: ivuTransitionDropIn;
  animation-play-state: running;
}
.transition-drop-leave-active {
  opacity: 1;
  animation-name: ivuTransitionDropOut;
  animation-play-state: running;
}
.transition-drop-enter-active, .transition-drop-leave-active {
  animation-timing-function: ease-in-out;
  animation-duration: .3s;
  animation-fill-mode: both;
}
@keyframes ivuTransitionDropIn {
  0% {
    opacity: 0;
    transform: scaleY(0.8);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}

@keyframes ivuTransitionDropOut {
  0% {
    opacity: 1;
    transform: scaleY(1);
  }
  100% {
    opacity: 0;
    transform: scaleY(0.8);
  }
}

//表单选项的公共样式
.qwui-form_item {
  padding: 10px 0;
  min-height: 52px;
  box-sizing: border-box;
}
.qwui-form_item_label {
  position: relative;
  display: inline-block;
  float: left;
  padding: 6px 20px 6px 0;
  text-align: right;
  box-sizing: border-box;

}
.qwui-form_item_content {
  position: relative;
  line-height: 32px;
  font-size: 14px;
  &.content_greyColor {
    color: $greyColor;
  }
}
.qwui-form_item_required {
  & > .qwui-form_item_label {
    &::before {
      content: '*';
      font-size: 14px;
      color: #FF5A5A;
      margin-right: 4px;
    }
  }
}
.qwui-form_item_hasLabel {
  & > .qwui-form_item_label {
    width: 141px;
  }
  & > .qwui-form_item_content {
    margin-left: 141px;
  }
}
.qwui-form_item_noLabel {
  & > .qwui-form_item_label {
    width: auto;
  }
  & > .qwui-form_item_content {
    margin-left: 0;
  }
}
.qwui-input_tailWrap {
  line-height: 32px;
}
.qwui-input_head {
  margin-right: 9px;
}
.qwui-input_unit {
  margin-left: 10px;
  &.unit_orange {
    color: $orangeColor;
    cursor: pointer;
  }
}
.qwui-input_description {
  color: $greyColor;
  .description_orangeColor {
    color: $orangeColor;
  }
}
.qwui-form_item_error_tip {
  font-size: 14px;
  color: $redColor;
  width: 338px;
  line-height: 16px;
  margin-top: 8px;
  @include tworows_ellipsis
}
.cursorPointer {
  cursor: pointer;
}
.qwui_divideLine {
  margin: 30px 0;
  border:1px dashed rgba(230,230,230,1);
}
.qwui_solidLine {
  margin-top: 30px;
  border: 1px solid #f5f5f5;
}
.ellipsis {
  @include ellipsis
}
.tworows_ellipsis {
  @include tworows_ellipsis
}
//hover弹框的提示样式
.label_description {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  color: #fff;
  background-color: #F87B00;
  border-radius: 50%;
  cursor: pointer;
}
.label_tip {
  position: absolute;
  top: 2px;
  left: 132px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  min-width: 345px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
  color: #666;
  z-index: 1223;
  text-align: left;
  &.tip_deviceControl {
    min-width: 435px;
    .ml10 {
      margin-left: 10px;
    }
  }
  &.tip_ReadRemindMinWidth {
    min-width: 428px;
  }
  &.tip_openCourse {
    min-width: 304px;
  }
  &::before {
    border-color: transparent #ccc transparent transparent;
    border-style: solid;
    border-width: 8px;
    content: "";
    font-size: 20px;
    left: -16px;
    position: absolute;
    top: 9px;
    z-index: -1;
  }
  &::after {
    background: white;
    content: "";
    height: 8px;
    left: -5px;
    position: absolute;
    top: 13px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 10px;
    z-index: -1;
  }
  .tip_content {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    max-height: 350px;
    overflow-y: auto;
    .tip_content_title {
       color: #383838;
     }
    .tip_content_detail {
      margin-left: 8px;
      color: #A6A6A6;
    }
  }
}
//金卡VIP图标样式
.qwui-vipIcon {
  position: relative;
  top: 5px;
  left: 5px;
  display: inline-block;
  cursor: pointer;
  &.function {
    width: 72px;
    height: 20px;
    background: url("~assets/images/vip_function.png") center/72px 20px no-repeat;
  }
}
//默认背景图
.defaultImg {
  background: #e5e5e5 url(~assets/images/ic_courseimg.png) center no-repeat;
}
