//公用变量
$greyBackground: #EDEDED;
$whiteBackground: #FFF;
$blackColor: #333;
$greyColor: #999;
$orangeColor: #F87B00;
$redColor: #F56262;
$orangeBtn: #C31725;
$orangeBtnHover: #F08088;

// 一行一处省略
@mixin ellipsis {
  white-space: nowrap;
  word-wrap: normal;
  text-overflow: ellipsis;
  overflow: hidden;
}

//   两行溢出省略
@mixin tworows_ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  -webkit-word-wrap: break-word;
}

//动画
@mixin transition {
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
}
